@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
    /* لون النص الأساسي */
  
    /* ألوان الأساس */
    --primary: #34db5e;      /* اللون الأساسي */
    --primary-dark: #4bb929; /* اللون الأساسي الغامق */
    --primary-light: #5de273; /* اللون الأساسي الفاتح */
  
    /* الألوان الثانوية */
    --secondary: #e74c3c;    /* اللون الثانوي */
    --secondary-dark: #c0392b; /* اللون الثانوي الغامق */
    --secondary-light: #f1948a; /* اللون الثانوي الفاتح */
  }


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.test{
  @apply text-red-600
}
.cont {
  @apply px-[5rem] max-md:px-0
}
.cust-trans{
  @apply transition-all duration-300
}